#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: bisque;
}

.nav {
  display: flex;
}

/* #navLogo {
  margin-left: auto;
} */

#navDiv, #navLogo {
  display: flex;
}

.list {
  list-style-type: none;
  margin: 1em;
}
.ingredientList {
  display: flex;

  justify-content: center;
  align-items: center;

}
button {
  border-radius: 5px;
  margin-left: 1rem;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #2493a1;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

